@using TestCore.Helper;
@model IEnumerable<TestCore.Models.SaleMovement>

@{
    ViewData["Title"] = "Gate Pass";
}

<h2>Gate Pass</h2>

<p>
    @UIHelper.GetButton(Html, "Create New", "Create", "Transfer", ButtonType.General)
</p>
<table class="table" id="TransferList">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.StockMovementId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromLocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToLocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.MovementType)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @Html.DisplayFor(modelItem => item.StockMovementId)
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromLocation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToLocation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StockMovementId }) |
                @Html.ActionLink("Delete", "Remove", new { id = item.StockMovementId }) |
                <a href="http://wa.me//send?text='Gate Pass for **[@item.Product.ProductCodeName]** (Qty=@item.Quantity) From: [@item.FromLocation.LocationName] To:[@item.ToLocation.LocationName]" 
                   data-action="share/whatsapp/share">WhatsApp</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#TransferList').DataTable();
    });
</script>